extends layout.pug 

block content 
  .container 
    h1.create-heading Create List 

    if error
      p.error Error! Try again Bro!

    if success 
      p.success List is created!
    
    form.create-form(action="/create" method='POST')
      label.create-text Title  
      input.create-input(type="text" name="title")

      label.create-text Description 
      textarea.create-input(type="text" name="desc" rows="8") 
      
      button.create-btn Create