extends layout.pug 

block content
  .container 
    h1.index-heading This is to do app. You can easily create todos, update and delete them.
    p.index-text This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.
    a.index-link(href='/create') Create todos
    