doctype html
html(lang="en")
    head
      title To Do App
      link(rel='stylesheet' href='/static/css/style.css')

    body 
      header.header 
        h1 
          a(href='/') To Do App 

        nav.nav 
          a(href='/lists') All Lists
          a(href='/archive')  Archive

      block content 
