doctype html
html(lang="en")
    head
      title To Do App
      link(rel='stylesheet' href='/static/css/style.css')
      link(rel='preconnect' href='https://fonts.gstatic.com')
      link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap' rel='stylesheet')

    body 
      header.header 
        h1 
          a(href='/') To Do App 

        nav.nav 
          a(href='/create') All Todos
 

      block content 
