extends layout.pug 

block content
  .container 
    h1 All lists

    each list in lists
      .list-wrapper
        a.list(href=`/lists/${list.id}`) #{ list.title }
        a.delete(href='#') delete
