/* General Styles */

:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #3b3534;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout Page */

.header {
    background-color: #3b3534;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    padding: 10px 10px 15px;
    border-bottom: 3px solid #ad9c99;
}

.nav a{
    display: inline-block;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: #cabbb9;
    transition: 0.5s;
}

a:hover {
    color: #80716f;
}

/* Index Page */

.index-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.index-heading{
    font-size: 30px;
    padding: 30px 0 10px;
}

.index-text {
    font-size: 18px;
    padding: 10px 0 15px;
    max-width: 60%;
}

.index-link{
    font-size: 20px;
    color: rgb(228, 208, 208);
    padding: 10px 15px;
    background-color: #3b3534;
    transition: 0.5s;
    display: inline-block;
    border-radius: 3px;
}

.index-link:hover{
    color:  rgb(43, 36, 36);
    background-color: #cabbb9;
}

/* Create Page */

.container {
    display: flex;
    justify-content: center ;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.create-heading {
    text-align: center;
    color: #3b3534;
    font-size: 40px;
    padding: 20px 0;
}
  

.form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .input {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 18%;
    border: none;
    background: #3b3534;
    color: #fff;
    border-radius: 3px;
    transition: 0.5s;
  }

  .btn:hover {
      background: #ad9c99;
      color: #3b3534;
  }
  
  .todos {
    max-width: 60%;
    margin-top: 25px;
    border: 1px solid #80716f;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 30px;
  }
  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 3px solid #80716f;
    border-radius: 3px;
    transition: 0.5s;
  }
  
  .todo:last-child {
    border-bottom: none;
  }
  
  .todo:hover {
    background: #f2f3f5;
  }
  
  .error,
  .success {
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .error {
    color: white;
    background: rgb(196, 14, 14);
    border-radius: 3px;
  }
  
  .success {
    color: white;
    background: green;
    border-radius: 3px;
  }
  
  .delete {
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    background: red;
    color: #fff;
    border-radius: 3px;
  }

  .delete:hover {
      background: #db2d27;
      color: #fff;
  }
  
  .done, 
  .undone {
    text-decoration: none;
    color: black;
  }
  
  .done {
    text-decoration: line-through;
  }

